<ldapSettings>
  <ldap name="LDAPServer">
    <value>LDAP://192.168.1.2:389/</value>
  </ldap>
  <ldap name="LDAPUsername">
    <value>Administrateur</value>
  </ldap>
  <ldap name="LDAPPassword">
    <value>Admin0000</value>
  </ldap>
  <ldap name="LDAPDomain">
    <value>exploit.com</value>
  </ldap>
  <ldap name="CodeSiege">
    <value>00</value>
  </ldap>
  <ldap name="CodeAutreSiege">
    <value>AUTRESIEGE</value>
  </ldap>
  <ldap name="CodeAllUsine">
    <value>ALLUSINE</value>
  </ldap>
  <ldap name="CodeAllAgence">
    <value>ALLAGENCE</value>
  </ldap>
  <ldap name="CodeAllLogistique">
    <value>ALLLOGI</value>
  </ldap>
</ldapSettings>